body {
    margin: 0px;
}

div#controls {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 50px;
}

canvas {
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
}
