body {
    margin: 0px;
    color: #fff;
}

div#controls {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 50px;
}

div#shred_div {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 120px;
}

canvas {
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: none;
}
